{{!-- story card from Bootstrap --}}
<div class="card-deck">
  <div class="card">
    <div class="form horiz">
      <img class="card-img-top" src="assets/img/news_image2.jpg" style="width: 300px; height: 180px" alt="Card image cap">
        <button class="btn btn-info my-2 my-sm-0" class="btn btn-default" style="margin-left: 20%" id="commentBtn">Save as Favorite</button>
    </div>
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text">{{summary}}</p>
      <p class="card-text">Click Here for Full Story</p>{{link}}
    </div>
    <div class="card-footer">
      <small class="text-muted">Last Updated: {{updated_At}}</small>
    </div>
  </div>
</div>