{{!-- story card from Bootstrap --}}
<div class="card-group">
  <div class="card">
    <img class="card-img-top" src="/assets/img/news_image1.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{title}}</h5>
      <p class="card-text">{{summary}}</p>
      <p class="card-text">Click Here for Full Story</p>{{link}}
      <p class="card-text"><small class="text-muted">{{updated_At}}</small></p>
    </div>
  </div>