<div class="container">
  <div class="jumbotron mt-4" style="background-color: lightblue">
    <h1 class="display-4 text-center">404 Not Found
      <span role="img" aria-label="sad face"><img src="assets/img/404.png" style="width: 50px; height: 50px"</span>
    </h1>
    <a href="/">← Back To Home</a>
  </div>
</div>