body {
    background-color: whitesmoke;
};

.jumbotron {
    background-color: pink;
}

img {
    position:relative;
}

.photo-title {
    left: 0;
    position:absolute;
    text-align:center;
    top: 30px;
    width: 100%;
}

.card-deck {
    display: flex;
    margin: 4% auto;
    padding: 0 0 2% 0;
    width: 60%;
}